.poule {
    width: 45%;
    height: 200px;
    float: left;
}

.chevre {
    width: 45%;
    height: 200px;
    float: right;
}

input {
    margin: auto;
    max-width: 80%;
    height: auto;
}

#animalChoice {
    display: inline-block;
}

h1 {
    color: white;
    margin:7vh;
}

#row {
    width: 80%;
    display: inline-block;
    margin: auto;
}
body{
    /*background: rgb(100,154,160);
    background: linear-gradient(180deg, rgba(100,154,160,1) 0%, rgba(19,100,108,1) 100%);
    padding:0;*/
    margin:0;
}
nav{
    background-color:white;
    text-align:center;
}
nav img{
    margin: 0 5px 0 0;
    height:10px;
    width:10px;
}
nav div{
    background-color: white;
    display:inline-block;
}
nav a{
    color: rgba(100,154,160,1);
    margin:0 10vw;
    list-style-type: circle;
}
nav a:nth-child(3){
    margin-right:0;
}
nav a:nth-child(1){
    margin-left:0;
}
p, li {
    color : white;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
li{
    list-style-type: none;
}
